body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1rem;
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;
  }

section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    text-align: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}



.personagem-info {
    display: none;
    text-align: center;
    margin-bottom: 2rem;
}


.personagem-info img {
    max-width: 300px;
    border-radius: 8px;
    margin-top: 1rem;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.personagem-info p {
    margin-top: 1rem;
    font-size: 1.1rem;
}

/* Mostrar a div quando o link é clicado */
#luffy:target,
#zoro:target,
#nami:target,
#usopp:target,
#sanji:target,
#chopper:target,
#robin:target,
#franky:target,
#brook:target,
#jinbe:target {
    display: block;
}